.price-request {
  padding: 3rem 1rem;
  width: calc(100vw - 2rem);
  border-radius: 1rem;
  position: relative;
}

.price-request img {
  max-width: 100%;
}

.price-request h2.title {
  margin: 0 auto 2rem;
}

.price-request .form__message {
  align-items: flex-start;
}

.price-request .icon-success {
  margin-top: 0.2rem;
}

.price-request .field {
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.price-request .field.field--offer {
  flex-direction: column;
}

.price-request .field::after {
  box-shadow: none;
}

#modal__close {
  position: absolute;
  padding: 0.5rem 1rem;
  cursor: pointer;
  top: 1rem;
  right: 3rem;
  background: transparent;
  border: none !important;
  color: var(--color-base-accent-1);
  font-family: var(--font-body-family);
}

#modal__close:hover {
  color: var(--color-base-accent-2);
  font-weight: bold;
}

.price-request__button button {
  line-height: 1;
  border-radius: 27px;
  overflow: hidden;
  border: 2px solid #000;
  font-size: 20px;
  font-weight: 800;
  background-color: var(--color-primary);
  color: #000;
  min-height: 54px;
  transform: translateY(6px);
  transition: all 0.2s ease;
}

.price-request__button button::after {
  content: none;
}

#price-modal-detail > .price-request-modal {
}

#price-modal-detail[open] > .price-request-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
  background: transparent;
  width: 100%;
  height: 100%;
}

#price-modal-detail[open] .modal-overlay {
  display: block;
}

#price-modal-detail[open] .modal-overlay::after {
  position: fixed;
  content: "";
  background-color: rgb(var(--color-foreground), 0.5);
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.price-request-modal {
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.35);
  z-index: 100;
}

.price-request-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  padding: 3rem;
}

.price-request-modal__content-bottom {
  bottom: calc((var(--inputs-margin-offset) / 2));
}

.price-request-modal__content-top {
  top: calc((var(--inputs-margin-offset) / 2));
}

.price-request-modal__form {
  width: 100%;
}

.price-request-modal__close-button {
  position: absolute;
  right: 0.3rem;
}

@media screen and (min-width: 750px) {
  .price-request {
    padding: 4rem 6rem;
  }

  .price-request h2.title {
    margin: 0 auto 3rem;
  }

  .price-request .field {
    margin-bottom: 2rem;
  }

  .price-request__button {
    margin-top: 2rem;
  }

  .price-request__fields {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
  }

  .price-request-modal__close-button {
    right: 1rem;
  }

  .price-request-modal__content {
    padding: 6rem;
  }

  .price-request__confirm {
    margin-bottom: 1rem !important;
  }

  .price-request__confirm label.checkbox {
    font-size: 1.6rem;
  }

  .price-request .field.field--offer {
    flex-direction: row;
  }
}

@media screen and (min-width: 990px) {
  .price-request-modal__form {
    max-width: 47.8rem;
  }

  .price-request-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
  }
}

.span-1 {
  grid-column: span 1;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}

.span-5 {
  grid-column: span 5;
}

.span-6 {
  grid-column: span 6;
}

.span-7 {
  grid-column: span 7;
}

.span-8 {
  grid-column: span 8;
}

.span-9 {
  grid-column: span 9;
}

.span-10 {
  grid-column: span 10;
}

.span-11 {
  grid-column: span 11;
}

.span-12 {
  grid-column: span 12;
}

.price-request .field .field__input[type="checkbox"] {
  border: 1px solid rgba(var(--color-foreground));
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
}

.price-request .field .field__input[type="checkbox"] ~ .field__label {
  font-size: 1.5rem;
}

.price-request .field .field__input::placeholder {
  color: rgba(var(--color-foreground), 0.5);
  opacity: 1;
  font-family: var(--font-body-family);
}

.price-request .field .field__input:focus,
.price-request .field .field__input:hover {
  margin: var(--inputs-border-width);
  box-shadow: none;
}

.price-request .field:hover.field:after {
  box-shadow: none;
}

.price-request__confirm {
  grid-column: 2 / span 10;
  position: relative;
  margin-top: 2rem;
}

.price-request__confirm input[type="checkbox"] + label {
  font-size: 1.3rem;
  margin-bottom: 0;
  transition:
    top var(--duration-short) ease,
    font-size var(--duration-short) ease;
  color: rgba(var(--color-foreground), 0.75);
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.price-request__confirm .checkbox {
  padding-left: 3.5rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.price-request__confirm input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.price-request__confirm input[type="checkbox"]:checked ~ span {
  color: #fff;
  background: #3785bc
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+)
    65% 50% no-repeat;
  border: 2px solid #3785bc;
}

.price-request__confirm span.indicator {
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 2px;
  width: 2.2rem;
  height: 2.2rem;
  background-color: white;
  border: 2px solid #aab0b9;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
